@media screen and (min-width:1280px) and (max-width:1920px) {
    .container-sm {
        padding-right: 43px;
        padding-left: 43px;
    }
}

@media screen and (min-width:800px) and (max-width:1279px) {
    .container-sm {
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media screen and (max-width:800px) {
    .container-sm {
        padding-right: 15px;
        padding-left: 15px;
    }
}