.auth-login-email {
    min-height: 100vh;
    background-color: #121212;
    background-image: radial-gradient(at bottom, #1993ff, #121212 70%);
    .wrapper{
        max-width: 660px;
        color: #fff;
        margin: 0 auto;
        .header-auth{
            padding: 50px 0;
        }
        .box-auth{
            padding: 40px 80px 70px 80px;
        }
    }
}